.UserDetails_container{
    display: grid;
    grid-template-rows: 80px 7fr;
    height: 100vh;
    gap: 1px;
    margin: 0px;
    padding: 0px; 
  }
  
  .UserDetails_container1{
      background-color:   whitesmoke;
  }
  
  .UserDetails_container2{
      padding: 10px;
      border-top: 0.2px solid gray;
      background-color:   whitesmoke;
  }